body {
	margin:0px;
	background-color:gray;
}

#bodytable {
	width:100%;
	border-spacing:0px;
	border-collapse:collapse;
	background-color:white;
}

#bodytable td {
	vertical-align:top;
	margin:0px;
	padding:0px;
	font-size:12px;
}

#bodytable td.leftpane {
	width:240px;
}

div.pane {
	border-bottom:solid 1px gray;
	padding:8px;
}

.title_banner {
	font-size:20px;
	font-weight:bold;
	height:32px;
}

#address_box, #meshcode_box {
	width:150px;
}


#map_canvas {
	width: 100%;
	height: 100%;
}

#map #copyright {
	padding: 2px;
	background: #fff;
}

div.mesh {
	position:absolute;
	border:solid 1px blue;
	overflow:hidden;
/*	background-color:gray;
	opacity:0.7;*/
}

div.mesh div {
	text-align:center;
	font-size:18px;
	font-weight:bold;
	text-shadow: 2px 2px 2px white;
}

.meshcode {
	font-size:large;
	margin-top:15px;
	margin-bottom:15px;
}

.meshcode span {
	font-weight:bold;
	padding:5px;
}

.chu {
	margin-top:10px;
	padding-left:5px;
	padding-right:5px;
	font-size:12px;
}

div.bounds {
	margin-top:5px;
	padding:3px;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}

span.bounds {
	display:none;
}

.exportKML, .viewKML {
	color:blue;
	cursor:pointer;
	text-decoration:none;
}

#debug {
	display:none;
}
